<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    

    <h1>Grupo <%= grupo.nome %></h1>
    <h2>Adm: <%= grupo.adm %></h2>
    


    <a href="/grupos/alterar/<%= grupo.id %>">ALTERAR</a>
    <br/><br/>
    <a href="/grupos/deletar/<%= grupo.id %>">DELETAR</a>
</body>
</html>