<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    

    <h1>grupo <%= grupo.nome %></h1>
    <h2>Genero <%= grupo.genero %></h2>
    
    <h3>Lançado em: <%= grupo.lancamento %></h3>

    <p><%= grupo.sinopse %></p>

    <a href="/grupos/alterar/<%= grupo.id %>">ALTERAR</a>
    <br/><br/>
    <a href="/grupos/deletar/<%= grupo.id %>">DELETAR</a>
</body>
</html>