<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    
    <center>
  <h1>Marina Fernandes</h1>
    <% if (user) { %>
      <h2>Bem vind@ <%= user.nome %></h2>
    <% } %>

    <h2>Lista de todos os grupos</h2>
</center>
    <table id="grupos">
        <tr>
          <th>Nome</th>
          <th>Membros</th>
          <th></th>
        </tr>
       
        <% grupos.forEach(grupo => { %>
          <tr>
            <td><%= grupo.nome %></td>
              <td><%= grupo.quantidade %></td>

            
            <td> <a href="/grupos/<%= grupo.id %>"> Ver </a> </td>
            <!-- <td> <a href="/grupos/<%= grupo.id %>/entrar"> Entrar </a> </td> -->

            <% }) %>
                  
                    </tr>
    </table>
</body>

</html>