<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    

    <% if (user) { %>
      <h1>Bem vind@ <%= user.nome %></h1>
    <% } %>

    <h1>Lista de todos os grupos</h1>

    <table id="grupos">
        <tr>
          <th>Nome</th>
          <th>quantidade</th>
          <th>Detalhes</th>
        </tr>
       
        <% grupos.forEach(grupo => { %>
          <tr>
            <td><%= grupo.nome %></td>
              <td><%= grupo.quantidade %></td>

            
            <td> <a href="/grupos/<%= grupo.id %>"> Ver detalhes </a> </td>
            <% }) %>
                  
                    </tr>
    </table>
</body>

</html>