<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    
    <center>
  <h1>Marina Fernandes</h1>


    <h2>Todos os grupos</h2>
    <div style="overflow-x:auto; margin: 0 auto;">
    <table id="grupos" cellspacing="2px">
      <% grupos.forEach(grupo => { %>
      <tr>
        <th>Nome</th>
        <th>Membros</th>
        <th>Adm</th>
        <th></th>
        </tr>
       
          <tr onclick="window.location='/grupos/<%= grupo.id %>'">
          <td><%= grupo.nome %></td>
          <td><%= grupo.quantidade %></td>
          <td><%= grupo.adm %></td>   
          <td><img src="/images/circle1.png" alt=""></td>
              
            </tr>
              <% }) %>
              
          </table>
          </div>
          <% for (page = 0;page < (total.length/5); page++ ) { %>
      <a href="/grupos/page/<%= page*5 %>"><%= page+1 %></a>
      <% } %>
  </center>
</body>

</html>